# Application
NODE_ENV=development
PORT=3001

# Database
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=motorcycle_tracker

# Kafka
KAFKA_BROKERS=localhost:9092

# CORS
FRONTEND_URL=http://localhost:3000
